/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

*{
  background: red;
}

h1, h3, section{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

h3{
  font-size: 28pt;
}